@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@keyframes slide-left-to-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-slide {
    animation: slide-left-to-right linear infinite;
  }
  
  